<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletControllerPrueba</servlet-name>
        <servlet-class>com.fernandoceballos.J2EEGIT.Controller.ServletControllerPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnPrueba</servlet-name>
        <servlet-class>com.fernandoceballos.J2EEGIT.Controller.ServletConnPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>com.fernandoceballos.J2EEGIT.Controller.ControllerLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControllerPrueba</servlet-name>
        <url-pattern>/ServletControllerPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnPrueba</servlet-name>
        <url-pattern>/ServletConnPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Main.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
        <welcome-file>ControllerUsuario</welcome-file>
    </welcome-file-list>
</web-app>
